<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Вселенная настолько велика, Морти, что ничего на свете не имеет значения!">
        <title>Wubba Lubba Dub Dub</title>
        <link rel="icon" href="fav.ico" type="image">
        <style>    
            body {
              background:  #e2ba16;
            }
            h1 {color:#4035bd; text-align:center; font-size:40px}
          </style>
    </head>

    <body>
        <header>
              <ul>
                <li style="display: inline-block; font-size: 30px; font-family: sans-serif;">
                  <a href="http://127.0.0.1:8000/test/" style="color: #4035bd;">Главная страница</a>
                </li>
                <li style="display: inline-block; font-size: 30px; font-family: sans-serif;">
                  <a href="about/" style="color: #4035bd;">О сайте</a>
                </li>
              </ul>
            </nav>
          </header>
        <main>
            <hr>
            <div>
                <h1> Это сайт по Рику и Морти, Сученька!!</h1>
                <a style="color:#4035bd; text-align:center; font-size:25px" href="http://rik-i-morti.ru/"><h3>Тут можно посмотреть все новый серии!!</h3> </a>
            </div>
            <img src="https://upload.wikimedia.org/wikipedia/ru/thumb/7/70/Rick_and_Morty_Season_1.jpg/800px-Rick_and_Morty_Season_1.jpg" width="450" height="500">
            
            <div>
                <h2>
                <p style="color:#4035bd;">Тут вы можете найти<br>ссылки на все сезоны: </p>
                </h2>
                <h2>
                    <ul>
                        <li><a href="http://rik-i-morti.ru/sez-1/"> 1 СЕЗОН</a></li>
                        <li><a href="http://rik-i-morti.ru/sez-2/"> 2 СЕЗОН</a></li>
                        <li><a href="http://rik-i-morti.ru/sez-3/"> 3 СЕЗОН</a></li>
                        <li><a href="http://rik-i-morti.ru/sez-4/"> 4 СЕЗОН</a></li>
                        <li><a href="http://rik-i-morti.ru/sez-5/"> 5 СЕЗОН</a></li>
                        <li><a href="http://rik-i-morti.ru/sez-6/"> 6 СЕЗОН</a></li>
                    </ul>
                </h2>
                </h1>
                <hr>
            </div>

            <div>
              <h2>
                Мультсериал «Рик и Морти» — праздник для поклонников нестандартного юмора
              </h2> 
              <p style="color:#4035bd; width: 50%; border: 5px solid red">
                Семья Бет и Джерри Смит соответствует типичным американским традициям. Они воспитывают 2 детей:
                17-летнюю дочку Саммер и 14-летнего сына Морти. Однако их жизнь сложно назвать размеренной из-за
                присутствия дедушки. Престарелый учёный Рик Санчез талантлив, обладает богатым воображением, всегда
                готов к авантюрам, но имеет проблемы с алкоголем и страдает постоянной отрыжкой. Он умеет собирать
                роботов, а благодаря летающей машине времени, созданной из хлама, может посещать другие измерения, прошлое и будущее.
                Открытия Санчеза и его фантастические путешествия не всегда безобидные. Порой они приводят к межгалактическим войнам и даже к гибели
                планет, но циничного учёного совсем не смущает сопутствующий ущерб. К неудовольствию зятя, мечтающего определить неистощимого на выдумки
                пожилого мужчину в дом престарелых, Рик использует собственного внука Морти в качестве спутника и прикрытия не слишком законных затей.
                Неуверенный в себе подросток без особенного энтузиазма участвует в приключениях, хотя они позволяют ему прогуливать школу.
                Тандем попадает в множество запутанных ситуаций, и уцелеть в них очень непросто. В далёких галактиках им приходится сталкиваться с неведомыми
                существами и подвергаться смертельной опасности, в основном по вине безответственного дедушки.  
                Изначально сумасбродные герои появились в анимационной пародии Джастина Ройланда на популярный фантастический фильм "Назад в будущее", а благодаря интересу
                к проекту уже к декабрю 2013 году американские зрители увидели первый сезон мультсериала. Его создали на программном блоке Adult Swim (дословный перевод "купание для взрослых")
                телеканала Cartoon Network. Из-за специфических шуток установлен достаточно высокий возрастной ценз (по данным портала Кинопоиск 18+). В мае 2018 года было
                объявлено о том, что планируется выпустить ещё как минимум 70 эпизодов. Беспринципный учёный и робкий подросток, достигший к 3-му сезону 15-летия, продолжают
                завоёвывать сердца зрителей.
              </p>
            </div>
        </main>
    </body>
</html>
